<style type="text/css">
  .deatils {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue";
    color: black;
  }
  .color{
    background-color: #fdcc52;
  }
</style>
{% extends "bootstrap/base.html" %}
Bitgame
{% block title %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
     {% include 'includes/_user_navbar.html' %}
 <header class="bg-primary text-white">
      <div class="container text-center">
        <br>
        <h1>Welcome to the Playground</h1>
        <p class="lead"> <br> </p>
      </div>
    </header>
    <div class="container">

      <div class="starter-template">
        <div >
        

        
            <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/currency.js"></script>
            </br>
            </br>
            <div class="coinmarketcap-currency-widget" data-currency="bitcoin" data-base="USD" data-secondary="" data-ticker="true" data-rank="true" data-marketcap="true" data-volume="true" data-stats="USD" data-statsticker="false">
            </div>
            <a href="https://twitter.com/intent/tweet?button_hashtag=bitcoin" class="twitter-hashtag-button" data-text="Want to try out your skills trading in a Bitcoin Simulator?? #bitcoin #everybitcounts" data-show-count="false">Tweet #bitcoin</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
          </br>
            <section class="download bg-primary text-center" id="download">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mx-auto color">
            
            <h3 style="color:black;">Hello {{name}}!</h3>
            {% if bit_bal is defined %}
            <h5 style="color:black;">Current Bitcoin Balance:  {{bit_bal}}</h5>
            <h5 style="color:black;">Current Virtual USD Balance:  {{usd_bal}}</h5>

            <button><a href="/bitgame/buy">Buy Bitcoin</a></button>
            <button><a href="/bitgame/sell">Sell Bitcoin</a></button>
            {% else %}
            <a class="btn btn-lg btn-success" href="/bitgame/join" role="button">Join the Game</a>
            {% endif %}
            <br>
            <br>
          </div>
        </div>
      </div>
    </section>



            
          <div>
            <h3>Leaderboard</h3>
            <table>
              <tr>
                <th>User</th>
                <th>Balance</th>
                <th>Rank</th>
              </tr>
              {% for result in results %}
              <tr>
                <td>{{ result[0] }}</td>
                <td>{{ result[1] }}</td>
                <td>{{ result[2] }}</td>
              </tr>
            {% endfor %}
            </table>
          </br>
          <h3>Transaction History
          </h3>
          <table>
            <tr>
              <th>Time</th>
              <th>Type</th>
              <th>Amount</th>
              <th>Bitcoin Price</th>
            </tr>
            {% for transaction in transactions %}
            <tr>
              <td>{{ transaction[0] }}</td>
              <td>{{ transaction[1] }}</td>
              <td>{{ transaction[2] }}</td>
              <td>{{ transaction[3] }}</td>
            </tr>
          {% endfor %}
          </table>
          </div>
      </div>

    </div><!-- /.container -->
    <style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
{% endblock %}
