{% extends "bootstrap/base.html" %}
Bitgame
{% block title %}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='starter-template.css')}}">
{% endblock %}

{% block content %}
    {% include 'includes/_home_navbar.html' %}

    <div class="container">

      <div class="starter-template">
        <h1>Bitcoin Game</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
        <p>{{name}}</p>

          <p>Current Bitcoin Balance:  {{bit_val}}</p>
          <p>Current Virtual USD Balance:  {{usd_val}}</p>
        
      </div>

    </div><!-- /.container -->
{% endblock %}
