{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
     {% include 'includes/_user_navbar.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
        
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Welcome, {{ name }}</h1>

          <div class="row placeholders">
<!--             <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div> -->
            <iframe width="80%" height="450" frameborder="0" 
            scrolling="no" src="//plot.ly/~ShervinZandi/2.embed"></iframe>
          </div>

          <h2 class="sub-header">Dashboard</h2>
          <div class="table-responsive">
            <h3 class="sub-header">Last refreshed rate</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>BitCoin</th>
                  <th>Dollar</th>
                  <th>Last Updated</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{bitcoin_val}}</td>
                  <td>{{dollar_val}}</td>
                  <td>{{timestamp}}</td>
                </tr>
              </tbody>              
            </table>
            
            <h3 class="sub-header">24 hour stats</h3>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Open</th>
                  <th>High</th>
                  <th>Low</th>
                  <th>Volume (in $)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{stats_open}}</td>
                  <td>{{stats_high}}</td>
                  <td>{{stats_low}}</td>
                  <td>{{stats_volume}}</td>
                </tr>
              </tbody>              
            </table>

          </div>
            <iframe width="900" height="800" frameborder="0" scrolling="no" src="//plot.ly/~ShervinZandi/4.embed">  
            </iframe>
        </div>

      </div>
    </div>
{% endblock %}